name: Build Compiler

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    needs: check-format

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose

  check-format:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Check Rust code format
        run: cargo fmt --check